.App {
  font-family: sans-serif;
}

.word {
  display: inline-block;
  white-space: nowrap;
  margin: 0 5px;
  vertical-align: middle;
}

.block {
  display: inline-block;
  text-align: center;
  line-height: 0.5;
  --scale: 1;
  width: calc(var(--scale) / 1 * 104px);
  margin-left: calc(var(--scale) / 1 * -8px);
}

.block svg {
  display: block;
}

.block.highlighted svg {
  background-color: yellow;
}

.block .label {
  font-size: 0.5rem;
}

svg:first-of-type {
  margin-left: 0;
}

.segment-hit-box {
  cursor: pointer;
}

.word .text {
  display: block;
  text-align: center;
  font-size: 10px;
}

.tool-panel {
  position: sticky;
  top: 0;
  float: right;
  width: 400px;
  background-color: white;
}

.editor .block {
  --scale: 0.75;
}

.editor .block svg text {
  fill: gray;
  font-size: 8px;
}

.editor .panel {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.editor .actions {
  padding: 10px 0;
}

.editor .actions button {
  margin-right: 10px;
}

#known-blocks ol {
  padding: 0;
}

#known-blocks li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

#known-blocks li .block {
  --scale: 0.2;
  cursor: pointer;
}

.words {
  margin-top: 20px;
}

#manual {
  list-style: none;
  padding-left: 0;
}

#manual li {
  display: block;
}

.page-pair {
  white-space: nowrap;
  overflow: hidden;
  margin-left: -90px;
  margin-right: 440px;
}

.page-pair img {
  width: 1000px;
  height: 490px;
  object-fit: cover;
}

.notes .section .block {
  --scale: 0.2;
}

.left-page {
  position: relative;
  margin-left: -100px;
}

.right-page {
  margin-left: -406px;
}

.notes {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  border-right: 1px solid gray;
}

.section {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid lightblue;
  padding: 3px;
  position: relative;
  margin: 1px 1px;
  vertical-align: top;
}

.section:before {
  content: attr(title);
  font-size: 0.6rem;
  background-color: lightblue;
  padding: 2px;
  display: block;
  margin-bottom: 2px;
}

.preview button {
  margin-left: 5px;
  vertical-align: middle;
}

.preview .block {
  --scale: 0.2;
  vertical-align: middle;
}
